<div class="header">
		    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		        <ul class="pure-menu-list">
		            <li class="pure-menu-item "><a href="#" class="pure-menu-link">Home</a></li>
		            <li class="pure-menu-item"><a href="#werk" class="pure-menu-link">Work</a></li>
		            <li class="pure-menu-item"><a href="#over" class="pure-menu-link">About</a></li>
		        </ul>
		    </div>
		</div>

		<div class="splash-container">
		    <div class="splash">
		        <h1 class="splash-head">Stijn Voeten</h1>
		        <p class="splash-subhead">Portfolio</p>

		    </div>
		</div>
		<div class="content-wrapper">

      <div id="werk"></div>

		    <div class="content">
		        <h2 class="content-head is-center">work</h2>

		        <div class="pure-g">
		            <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">

		                <h3 class="content-subhead">

		                </h3>
                    <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1480786320/Portfolio_1_ter4ur.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1480786320/Portfolio_1_ter4ur.jpg" alt="test"></a>
		                <h6><b>Logo</b> Genepath</h6>
		            </div>
		            <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
		                <h3 class="content-subhead">

                  </h3>
                <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481035751/afrin_nrhs5s.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481035751/afrin_nrhs5s.jpg" alt="test"></a>
                  <h6><b>Affiche</b> Afrin park</h6>
		            </div>

                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead"></h3>
                  <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036918/parkconquest_p5u3j4.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036918/parkconquest_p5u3j4.jpg" alt="test"></a>
									<h6><b>Logo</b> Park-Conquest</h6>
                </div>

                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead"></h3>
                  <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481035751/fruit_k5ydhk.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481035751/fruit_k5ydhk.jpg" alt="test"></a>
                  <h6><b>Advertising</b> Fruit your day</h6>
                </div>

                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead"></h3>
                  <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/vw_imk9pm.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/vw_imk9pm.jpg" alt="test"></a>
                  <h6><b>Advertising</b> Volkswagen Green</h6>
                </div>

                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead">

                  </h3>
                  <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/bike_u2421d.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/bike_u2421d.jpg" alt="test"></a>
                  <h6><b>Website</b> Bike on track</h6>

                </div>
		            <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
		                <h3 class="content-subhead">
                  </h3>
                <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/schilder_ouhtt4.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/schilder_ouhtt4.jpg" alt="test"></a>
                  <h6><b>Car design</b> De Schilder</h6>

		            </div>
		            <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
		                <h3 class="content-subhead">
                  </h3>
                  <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/mag_tv2jrt.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/mag_tv2jrt.jpg" alt="test"></a>
                  <h6><b>Detourage</b> magazine</h6>

		            </div>
                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead">
                  </h3>
                <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/ilsodo_j9klds.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036314/ilsodo_j9klds.jpg" alt="test"></a>
                  <h6><b>Affiche</b> Il Sodo</h6>

                </div>
                <div class="l-box pure-u-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <h3 class="content-subhead">
                  </h3>
                <a href="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036313/euroart_lsupr6.jpg"><img src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036313/euroart_lsupr6.jpg" alt="test"></a>
                  <h6><b>Affiche</b> Euro Art</h6>
                </div>

		        </div>
		    </div>

        <div id="over"></div>

		    <div class="ribbon l-box-lrg pure-g">
		        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		            <img class="pure-img-responsive" alt="File Icons" width="300" src="http://res.cloudinary.com/dfxso6iau/image/upload/v1481036595/portret_eyq17g.jpg">
		        </div>
		        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

		            <h2 class="content-head content-head-ribbon">About</h2>

		            <p>
		                Ik ben Stijn Voeten, 21 jaar, Student grafisch en digitale media - crossmedia aan AP hogeschool Antwerpen. Ik ontwerp logo's, huisstijlen, advertising, ect. Ik heb een basis HTML/CSS/JS.. Met de Adobe pakketten (Photoshop, Illustrator, Indesign CC) kan ik zeer technisch en beheerst werken. Verder ben ik bezig met mezelf te verdiepen in de software Cinema 4d.
		            </p>
		        </div>
		    </div>

		    <div class="content">
		        <h2 class="content-head is-center">Contact</h2>

		        <div class="pure-g">
		            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
		                <form class="pure-form pure-form-stacked">
		                    <fieldset>

		                        <label for="name">Your Name</label>
		                        <input id="name" type="text" placeholder="Your Name">

		                        <label for="email">Your Email</label>
		                        <input id="email" type="email" placeholder="Your Email">

		                        <label for="password">Your Password</label>
		                        <input id="password" type="password" placeholder="Your Password">

		                        <button type="submit" class="pure-button">Contact Me</button>
		                    </fieldset>
		                </form>
		            </div>
								<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
						</div>
            </div>
		    </div>
		    <div class="footer l-box is-center">
IT3 - Opdracht.. - Gebruikt gemaakt van Pure.Css
</div>

		</div>
